@import '~@angular/material/core/theming/prebuilt/indigo-pink';

html, body{
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

span.active {
  background-color: gray;
}
